body {
  position: relative;
}

#nav {
  position: absolute;
  top: 0;
  right: .5em;
}

#nav ul, #actions ul {
  list-style-type: none;
  overflow: auto;
  padding: 0;
  margin: 0;
}

#nav ul li {
  float: left;
  margin: 0 .5em;
}

#actions {
  margin: .67em 0;
}

#actions ul li {
  float: left;
  margin: 0 .25em;
}

#device-list {
  border-collapse: collapse;
  font-size: 13px;
}

#device-list tr.selected {
  background: #f2f2f2;
}

#device-list th {
  background: #ccc;
}

#device-list th, #device-list td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 3px 6px;
}

.checkbox, .hostname, .ip, .mac, .state {
  text-align: center;
}

.monitored-since, .total-uptime, .total-downtime {
  text-align: left;
}

.availability {
  text-align: right;
}

.up {
  background: #0c0;
}

.state {
  width: 5.5em;  /* should be long enough to accommodate "hibernated" */
}

.suspended, .hibernated {
  background: #bff2bf;
}

.resuming {
  background: #cc0;
}

.down {
  background: #c00;
}

.total-uptime {
  border-left: 1px solid #bff2bf;
  border-right: 1px solid #0c0;
  overflow: hidden;

  /*
   * Undo the padding defined by the '#device-list td' selector.
   * '.total-uptime .content' will define it.
   */
  padding: 0 !important;  
}

.total-uptime .wrapper {
  position: relative;
}

.total-uptime .graph {
  background: #bff2bf;
  position: absolute;
  height: 10em;
  margin-top: -2em;
  z-index: 0;
}

.total-uptime .content {
  padding: 3px 6px;
  position: relative;
  z-index: 10;
}
