body {
    font-family: Georgia, serif;
    font-size: 14px;
}

#device-list {
    border-collapse: collapse;
}

#device-list th, #device-list td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .25em .5em;
}

#device-list th {
    background: #ccc;
}

.checkbox, .mac, .ip, .status {
    text-align: center;
}

.monitored-since, .total-uptime, .total-downtime {
    text-align: left;
}

.availability {
    text-align: right;
}

.up {
    background: #0c0;
}

.suspended, .hibernated {
    background: #bff2bf;
}

.resuming {
    background: #cc0;
}

.down {
    background: #c00;
}

.total-uptime {
    border-left: 1px solid #bff2bf;
    border-right: 1px solid #0c0;
    padding: 0 !important;
}

.total-uptime .graph {
    background: #bff2bf;
    border: 1px solid #bff2bf;
    white-space: nowrap;
    height: 100%;
    padding: .25em .5em;
}
